/* Центрування тексту */
.center-text {
  text-align: center;
}

/* Стилізація фото */
img {
  max-width: 150px;
  margin-bottom: 15px;
}

/* Кнопки */
a.btn {
  margin-bottom: 8px;
}

/* Секції праворуч */
h4 {
  margin-top: 20px;
  font-weight: bold;
}

/* Заголовок */
h2 {
  font-weight: 600;
  margin-bottom: 10px;
}

/* Контейнер */
.container {
  margin-top: 50px;
}

/* Текст правої колонки */
.col-md-8 p {
  margin-bottom: 10px;
}
